@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

.App {
  display: flex;
  background-color: #8b8585;
  background-blend-mode: soft-light;
  background-image: url(https://i.pinimg.com/originals/9b/b7/55/9bb75560f8a920f152be45f09ca57916.jpg);
}

.container {
  min-height: 100vh;
  width: 50%;
  display: block;
  margin: auto;
  top: 0;
  position: fixed;
  background-color: #8b8585;
  background-blend-mode: soft-light;
  background-image: url(https://i.pinimg.com/originals/9b/b7/55/9bb75560f8a920f152be45f09ca57916.jpg);
}

.title {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "Londrina Solid", cursive;
}

.meme-template {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  font-family: "Londrina Solid", cursive;
  margin-left: 50px;
}

.image-template {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.top-text,
.bottom-text {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  color: rgb(233, 227, 227);
  font-size: 35px;
  text-shadow: -3px 0px 5px #000;
  width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.top-text {
  top: 0;
}

.bottom-text {
  bottom: 0;
}

.form-input {
  width: 490px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 50px;
}

.images {
  width: 99px;
  height: 100px;
  margin: 1px;
  cursor: pointer;
}

.images:hover {
  opacity: 50%;
  margin: 1px;
}

.conteiner_images {
  left: 20px;
  width: 40%;
  margin-left: 55%;
  background-color: black;
}

.creditos {
  margin-left: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.creditos h1 a {
  color: blue;
  cursor: pointer;
}
