@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/originals/9b/b7/55/9bb75560f8a920f152be45f09ca57916.jpg);
  background-color: #2d2d2d;
  background-blend-mode: soft-light;
  min-height: 100vh;
}

.container {
  width: 500px;
  display: block;
  margin: auto;
}

.title {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "Londrina Solid", cursive;
}

.meme-template {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  font-family: "Londrina Solid", cursive;
}

.image-template {
  width: 100%;
  width: 500px;
}

.top-text,
.bottom-text {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  color: rgb(233, 227, 227);
  font-size: 35px;
  text-shadow: -3px 0px 5px #000;
  width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.top-text {
  top: 0;
}

.bottom-text {
  bottom: 0;
}

.form-input {
  width: 490px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
}
